/**************/
/* Custom CSS */
/**************/
#play{
	width:600px;
	height:500px;
	background-color:#000;
}
         
#tangmu{
    width:600px;
    height:500px;
    background-color:#fff;
    z-index:9999;
    background-color: rgba(000, 1, 000, 0.1); 
}
         
#textStyle{
    position:absolute;
    font-size:24px;
    color:#fff;
}